[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
jupyter = "*"
jupytext = "*"
numpy = "*"
pandas = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
isort = "*"
jupyter-highlight-selected-word = "*"
jupyterthemes = "*"
yapf = "*"

[requires]
python_version = "3.7"
